<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DirectDialpad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7F50E461D8C1DDB00EA8C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7F50E5A1D8C1DDB00EA8C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7F50E651D8C1DDB00EA8C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
